.rapid-response-block {
    background-color: #f7f7f7;
    padding: 25px;
}

.xblock-editor .rapid-response-block {
    padding: 20px;
}

.xblock-editor .rapid-response-block label {
    font-size: 14px;
}

button.problem-status-toggle {
    border-radius: 5px;
    border: 2px solid #1176b2;
    color: #1176b2;
    background: transparent;
    font-weight: 700;
}

button.problem-status-toggle:hover {
    background: #065683 none;
    box-shadow: none;
}

.rapid-response-content td, .rapid-response-content th {
    border: 1px solid black;
}

.single-chart .tick text {
    font-size: 30pt;
}

.two-charts .tick text {
    font-size: 20pt;
}

.two-charts svg {
    background-color: #ebebeb;
}

text.message {
    font-size: 30pt;
}

.hidden {
    display: none;
}

.rapid-response-results {
    display: flex;
}

.selection-row a {
    padding: 0 10px;
    cursor: pointer;
}

.chart-title {
    color: black;
}

.selection-row {
    font-size: 16pt;
}

.wrap-instructor-info {
    visibility: hidden;
}
