button.problem-status-toggle:hover {
    background-color: #065683;
    background-image: none;
    box-shadow: none;
}

.rapid-response-content td, .rapid-response-content th {
    border: 1px solid black;
}

.tick text {
    font-size: 30pt;
}

text.message {
    font-size: 30pt;
}

.hidden {
    display: none;
}
